/* Gaming Guide Side [Left]*/
.bg-game{
    background-color: #102A43;
}
/* Cypto Guide Side [Left]*/
.bg-crypto{
    background-color: #243B53;
}

/* btn */
.btn-game {
    background-color: #1DDECB;
}

.btn-crypto {
    background-color: #B9EFA4;
}

/* Testing */
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}
.nav-link {
    font-size: 1rem;
}
/* Not Sure */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
